:root {
  --color1: #212529;
  --color2: #e6e6e6;
  --color3: #343a40;
  --color4: #02b75a;
  --color5: #4f4f50;
  --color6: #0f0f0f;
  --color7: #00ea71;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color1);
  color: var(--color2);
}

a {
  text-decoration: none;
  color: var(--color2);
}
a:hover {
  color: var(--color4);
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px;
}

header .main-menu {
  background-color: var(--color3);
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  padding: 30px 70px 10px 50px;
  opacity: 0.95;
  transition: transform 0.5s;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

@media (min-width: 1000px) {
  header .main-menu {
    position: static;
    background-color: transparent;
    padding: 0;
    opacity: 1;
    height: auto;
    transition: none;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
  }
}

header .main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 40px;
}

@media (min-width: 1000px) {
  header .main-menu ul {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }
}

header .social-menu {
  display: none;
}

@media (min-width: 1000px) {
  header .social-menu {
    display: block;
  }

  header .social-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
}

header .lbl-menu {
  cursor: pointer;
}

@media (min-width: 1000px) {
  header .lbl-menu {
    display: none;
  }
}

header #chk-menu {
  display: none;
}

header #chk-menu:checked + .main-menu {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

/* Banner */

.banner {
  position: relative;
}

.banner img {
  width: 100vh;
  height: 100vh;
  object-fit: cover;
}

.banner .banner-text {
  text-align: center;
  font-size: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
